* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #111111;
  font-family: sans-serif;
}
main {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: rgba(255, 255, 255, 0.1);
  width: 85%;
  height: 85vh;
  border-radius: 1.5em;
  color: white;
  overflow: hidden;
}
.title {
  display: flex;
  justify-content: space-between;
}
.content {
  padding: 2em 8em;
}
main::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #c8cac7;
opacity: 0.8;
  z-index: -1;
  clip-path: circle(35% at right 70%);
}
h1 {
  font-size: 2.2em;
  letter-spacing: 2px;
}
ul {
  display: flex;
  padding-right: 3em;
}
ul li {
  list-style: none;
  padding: 10px;
  font-size: 1.3em;
}
a {
  text-decoration: none;
  color: white;
}
.section-2 {
  display: flex;
  align-items: center;
  padding-top: 12em;
  justify-content: space-between;
  gap: 11em;
}
.content img {
  width: 28em;
}
.description h2 {
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: 2.5em;
  margin-bottom: 15px;
}
.description p {
  font-size: 1.1em;
  font-weight: 700;
  max-width: 700px;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .section-2 {
    gap: 6em;
  }
  .content {
    padding: 2em 6em;
  }
}
@media (min-width: 731px) and (max-width: 1140px) {
  .section-2 {
    flex-direction: column;
    gap: 4em;
  }
  main::after {
    clip-path: circle(45% at bottom);
  }}

@media (max-width: 730px) {
  .title {
    align-items: center;
    flex-direction: column;
  }
  ul {
    padding-right: 0;
  }
  .section-2 {
    padding-top: 8em;
    gap: 2em;
   flex-direction: column;
  }  main::after {
    clip-path: circle(45% at bottom);
  }
}
@media (max-width: 460px) {
  .section-2 {
    padding-top: 5em;
    gap: 5em;
  }
  .description h2 {
    font-size: 2em;
  }
  .content img {
    width: 22em;
  }
}
